/*-------- index.html---------*/
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;
}

.topheader{
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-image:url("../../photos/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a{
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover{
    color: #d46a92;
}

.logo{
    height: 80px;
    width: auto;
}

.text-box{
    position: relative;
    z-index: 2; /* makes text appear above overlay */
    color: white; /* text visible on dark overlay */
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 220px;
}

.text-box h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 20px;
    margin-bottom: 30px;
}

.text-box .btn {
    padding: 12px 25px;
    font-weight: 600;
    border-radius: 8px;
    background: #d46a92;
    color: white;
    text-decoration: none;
}

.text-box .btn:hover {
    background: #b8577c;
}

/*-------- signup.html---------*/

