/*-------- style.css ---------*/

/*-------- index.html---------*/
body{
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    background: #f9f9fb;
    color: #333;
    line-height: 1.6;
}
a{
    text-decoration: none;
}

/*-------- naviagation bar ---------*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);

}

nav .logo{
    font-weight: 700;
    font-size: 24px;
    color: #d46a92;
}

nav .nav-links a{
    margin-left: 20px;
    font-weight: 500;
    color: #333;
    transition: color 0.3s;
}

nav .nav-links a:hover{
    color: #d46a92;
}

/*-------- Hero section ---------*/

.hero{
    text-align: center;
    padding: 120px 20px 80px;

}

.hero h1{
    font-size: 42px;
    margin-bottom: 15px;
    color: #d46a92;
}

.hero p{
    font-size: 16px;
    margin-bottom: 30px;
    color: #555;
}

/*-------- Buttons---------*/

.btn{
    background: #d46a92;
    color: white;
    padding: 10px 22px;
    border-radius: 8px;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover{
    background: #b8b8b8;
}

/*-------- Container ---------*/
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

/*-------- Cards ---------*/
.card{
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

/*-------- Forms ---------*/

form label{
    font-weight: 500;
}

form input, form select{
    width: 100%;
    padding: 10px 12px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
    font-size: 16px
}

form input:focus, form select:focus{
    outline:none;
    border-color: #d46a92;
}

/*-------- Headings ---------*/
h1, h2, h3{
    font-weight: 600;
}

h2{
    font-size: 32px;
    margin-bottom: 20px;
}

h3{
    font-size: 24px;
}

/*-------- Buttons for cards ---------*/

.card .btn{
    margin-top: 10px;
}

/*-------- Other ---------*/
button{
    font-family: 'Noto Serif', serif;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}