/*-------- style.css ---------*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Nato Serif', serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}