/*-------- style.css ---------*/

/*-------- index.html---------*/
body{
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    background: #f9f9fb;
    color: #333;
    line-height: 1.6;
}
a{
    text-decoration: none;
}

/*-------- naviagation bar ---------*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    box-shadow: 0 2px 6px rgb(0,0,0.05);

}

nav .logo{
    font-weight: 700;
    font-size: 24px;
    color: #d46a92;
}

nav .nav-links a{
    margin-left: 20px;
    font-weight: 500;
    color: #333;
    transition: color 0.3s;
}

nav .nav-links a:hover{
    color: #d46a92;
}


