/*-------- index.html---------*/
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;
}


.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(photos/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.nav-links{
    flex: 1;
    text-align: center;
}

