/*-------- index.html---------*/
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;
}

.topheader{
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-image:url("../../photos/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a{
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover{
    color: #d46a92;
}

.logo{
    height: 80px;
    width: auto;
}

.text-box{
    position: relative;
    z-index: 2; /* makes text appear above overlay */
    color: white; /* text visible on dark overlay */
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 220px;
}

.text-box h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 20px;
    margin-bottom: 30px;
}

.text-box .btn {
    padding: 12px 25px;
    font-weight: 600;
    border-radius: 8px;
    background: #d46a92;
    color: white;
    text-decoration: none;
}

.text-box .btn:hover {
    background: #b8577c;
}

/*-------- signup.html---------*/

.signup-section{
    padding: 80px 20px;
    background: #f9f9fb;
}

.signup-section h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #d46a92;
}

.signup-section form{
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.05);
}

.signup-section form label{
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.signup-section form input, .signup-section form select{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.signup-section form input:focus, .signup-section form select:focus{
    outline: none;
    border-color: #d46a92;
}

.signup-section form .btn{
    width: 100%;
    padding: 12px;
    font-weight: 600;
    background: #d46a92;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;

}

.signup-section form .btn:hover{
    background: #b8577c;
}

.signup-section p{
    margin-top: 10px;
    text-align: center;
    
}

.signup-section p a {
    color: #d46a92;
    text-decoration: none;
}

.signup-section p a:hover {
    text-decoration: underline;
}

/*-------- login.html---------*/

.login-section{
    padding: 80px 20px;
    background: #f9f9fb;
}

.login-section h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #d46a92;
}

.login-section form{
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.05);
}

.login-section form label{
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.login-section form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.login-section form input:focus {
    outline: none;
    border-color: #d46a92;
}

.login-section form .btn{
   width: 100%;
    padding: 12px;
    font-weight: 600;
    background: #d46a92;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer; 
}

.login-section form .btn:hover{
     background: #b8577c;
}

.login-section p{
    text-align: center;
    margin-top: 20px;
}

.login-section p a{
    color: #d46a92;
    text-decoration: none;
}

.login-section p a:hover{
    text-decoration: underline;
}

/*-------- dashboard.html---------*/